{% extends "main/base.html" %} {% load static %} {% block content %}
<!-- Hero Section -->
<div class="hero-section position-relative" style="background-color: #e7e8e7">
  <img
    src="{% static 'main/media/callaction.png' %}"
    alt="Klocki"
    class="img-fluid w-60"
  />
  <h1 class="display-4 heroh1" style="color: #26306d">
    Czy masz bałagan w <span style="color: #e5292f">KLOCKACH</span>?
  </h1>
  <div class="hero-text position-absolute text-center">
    <a
      href="#scroll"
      class="btn btn-primary btn-lg"
      style="
        font-size: 2.5rem; /* Zwiększa rozmiar tekstu */
        padding: 1rem 5rem;
        background-color: #26306d;
        border: solid white 1px;
        font-family: Krub, sans-serif;
        font-weight: 500;
        font-style: normal;
      "
      >TAK</a
    >
  </div>
</div>

<!-- About -->
<div class="container-fluid" style="background-color: #d34c53; padding-left: 100px">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center py-5 offset-md-1">
      <img
        src="{% static 'main/media/aboutimg.png' %}"
        alt="Flow"
        class="img-fluid about-img w-75"
        style="border-radius: 20px"
      />
    </div>
    <div
      class="col-md-5 d-flex flex-column justify-content-center text-white text-center pl-5"
    >
      <h2 class="py-5" style="font-family: Raleway;">MISJA I program FUNDACJI: Pomaganie przez budowanie!</h2>
      <p style="font-size: 24px;">
        Ten projekt wykorzystując znane nam wszystkim klocki, pomaga budować
        kompetencje w obszarze komunikacji i pracy zespołowej. Jak to robimy?
      </p>
      <a
        href="#scroll"
        class="btn btn-sm mt-5 align-self-center w-50"
        style="border: solid white 1px; color: white; border-radius: 20px; padding: 20px; margin-bottom: 50px; font-size: 24px; font-family: Krub, sans-serif;
        font-weight: 500;
        font-style: normal;"
        >Dołącz Do Nas!</a
      >
    </div>
  </div>
</div>

<!--Connect-->
<img
  src="{% static 'main/media/connect.png'%}"
  class="d-none d-md-block"
  style="
    margin-top: -40px;
    right: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  "
/>

<!-- Flow -->
<div
  class="container-fluid center-content text-center py-5"
  style="color: #26306d"
>
  <div id="scroll"></div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <img
        src="{% static 'main/media/flowimg.png' %}"
        class="img-fluid mt-n5"
        alt="Flow Image"
      />
    </div>
  </div>
</div>

<!-- Option Section -->
<div class="container-fluid primarycontent1">
    <div class="container-fluid primarycontentxt">
      <h1 class="font-weight-bold mt-4">Zdecyduj co chcesz z tym zrobić?</h1>
        <p class="font-weight-bold pb-5">
        NIC - ale podoba ci się inicjatywa i chętnie ją wesprzesz!
        <span class="bold-text">Wspieraj!</span>
        </p>  
    </div>
    
    <div class="container-fluid primaryboxes">
        <!-- Option 1: Zarób na swoich zestawach -->
        <div class="primarycontent2 option d-flex flex-column col-12 col-md-6 align-items-center text-center text-md-left">
            <h2>Zarób na swoich zestawach!</h2>
            <p id="PC1">1. Wyślij nam swoje Klocki</p>
            <p>2. My je złożymy, skompletujemy</p>
            <p>3. Odeślemy Ci ułożone - wycenimy wartość złożonych zestawów</p>
            <a href="#" class="btn-choose mt-auto" data-toggle="modal" data-target="#firstpage">WYBIERZ</a>
        </div>

        <!-- Option 2: Przekaż je naszej fundacji -->
        <div class="primarycontent3 option d-flex flex-column col-12 col-md-6">
            <h2>Przekaż je naszej fundacji!</h2>
            <p>Chce oddać klocki do fundacji i wspierać ją w działaniach</p>
            <a href="{% url 'form2' %}" class="btn-choose mt-auto">WYBIERZ</a>
        </div>
    </div>
    
</div>

<!-- Second Flow -->
<div class="container-fluid mt-0">
  <div class="row justify-content-center">
    <div class="col-12 text-center" style="color: #26306d">
      <img
        src="{% static 'main/media/secondflow.png' %}"
        class="img-fluid"
        alt="Second Flow Image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Google Maps Embed -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.816213229239!2d16.984051!3d51.111850999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc1b02a101e93%3A0x92ff44b7e53f22df!2sRoboklocki%C2%AE!5e0!3m2!1suk!2spl!4v1722542441465!5m2!1suk!2spl"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-100 h-auto"
      ></iframe>
    </div>
  </div>
</div>

<!-- Footer Section -->
<footer class="py-3 bg-dark text-white" id="scrollfooter">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-3">
        <p>
          <img
            src="{% static 'main/media/białe.png' %}"
            alt="RoboKlocki"
            class="img-fluid w-100 h-auto"
          />
        </p>
      </div>
      <div class="col-md-12">
        <div class="row">
          <!-- Wrocław -->
          <div class="col-md-4 col-sm-6 mb-3">
            <h5>WROCŁAW</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-1" style="font-weight: bold">Adres</li>
              <li class="nav-item mb-1" style="font-size: small">
                UL. A.Ostrowskiego 9, 53-238 Wrocław
              </li>
              <li class="nav-item mb-1" style="font-weight: bold">
                Kierownik Projektu
              </li>
              <li class="nav-item mb-1" style="font-size: small">
                Małgorzata Wiórek
              </li>
              <li class="nav-item mb-1" style="font-weight: bold">Telefon</li>
              <li class="nav-item mb-1" style="font-size: small">
                531 488 885/71 307 10 86
              </li>
              <li class="nav-item mb-1" style="font-weight: bold">Mail</li>
              <li class="nav-item mb-1" style="font-size: small">
                bok@roboklocki.pl
              </li>
            </ul>
          </div>
          <!-- Brzeg -->
          <div class="col-md-4 col-sm-6 mb-3">
            <h5>BRZEG</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-1" style="font-weight: bold">Adres</li>
              <li class="nav-item mb-1" style="font-size: small">
                UL. Długa 43 (Rynek), 49-306 Brzeg
              </li>
              <li class="nav-item mb-1" style="font-weight: bold">
                Koordynator Ds. Zajęć
              </li>
              <li class="nav-item mb-1" style="font-size: small">
                Tomasz Urbaniak
              </li>
              <li class="nav-item mb-1" style="font-weight: bold">Telefon</li>
              <li class="nav-item mb-1" style="font-size: small">
                790 523 333/77 300 04 65
              </li>
              <li class="nav-item mb-1" style="font-weight: bold">Mail</li>
              <li class="nav-item mb-1" style="font-size: small">
                turbaniak@roboklocki.pl
              </li>
            </ul>
          </div>
          <!-- Wieruszów -->
          <div class="col-md-4 col-sm-6 mb-3">
            <h5>WIERUSZÓW</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-1" style="font-weight: bold;">Adres</li>
              <li class="nav-item mb-1" style="font-size: small">
                98-400 Wieruszów
              </li>
              <li class="nav-item mb-1" style="font-weight: bold">
                Koordynator Ds. Zajęć
              </li>
              <li class="nav-item mb-1" style="font-size: small">
                Patrycja Karkoszka
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Modal 1 -->
<div
  class="modal fade modal-1"
  id="firstpage"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formularzeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="row no-gutters">
        <div class="col-12 col-md-4 modal-left p-4">
          <img src="{% static 'main/media/białe.png' %}" alt="RoboKlocki" class="img-fluid" />
          <ul class="steps list-unstyled pt-5">
            <li class="step active d-flex align-items-center">
              <div class="step-number">1</div>
              <span class="ml-2">Dane do wysyłki</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">2</div>
              <span class="ml-2">Informacje o zestawie</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">3</div>
              <span class="ml-2">Metoda płatności</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">4</div>
              <span class="ml-2">Podsumowanie</span>
            </li> 
          </ul>
        </div>
        <div class="col-12 col-md-8 modal-right p-4">
          <h3>Wpisz dane do wysyłki</h3>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Imię"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Nazwisko"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="E-mail"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="tel"
                  class="form-control"
                  id="phone"
                  placeholder="Numer telefonu"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Adres"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="postalCode"
                  placeholder="Kod pocztowy"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  placeholder="Miejscowość"
                />
              </div>
            </div>
            <h3 class="text-center">Wybierz sposób dostawy</h3>
            <div class="delivery-options d-flex justify-content-center">
              <img
                src="https://via.placeholder.com/50?text=DHL"
                alt="DHL"
                class="mx-2"
              />
              <img
                src="https://via.placeholder.com/50?text=dpd"
                alt="dpd"
                class="mx-2"
              />
              <img
                src="https://via.placeholder.com/50?text=InPost"
                alt="InPost"
                class="mx-2"
              />
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button
                type="button"
                class="btn btn-secondary flex-grow-1 mx-1"
                id="backButton"
              >
                POWRÓT
              </button>
              <button
                type="button"
                class="btn btn-danger flex-grow-1 mx-1"
                id="nextButton"
              >
                DALEJ
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 -->
<div
  class="modal fade modal-2"
  id="secondpage"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formularzeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="row no-gutters">
        <div class="col-12 col-md-4 modal-left p-4">
          <img src="{% static 'main/media/białe.png' %}" alt="RoboKlocki" class="img-fluid" />
          <ul class="steps list-unstyled pt-5">
            <li class="step d-flex align-items-center">
              <div class="step-number">1</div>
              <span class="ml-2">Dane do wysyłki</span>
            </li>
            <div class="line my-2"></div>
            <li class="step active d-flex align-items-center">
              <div class="step-number">2</div>
              <span class="ml-2">Informacje o zestawie</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">3</div>
              <span class="ml-2">Metoda płatności</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">4</div>
              <span class="ml-2">Podsumowanie</span>
            </li> 
          </ul>
        </div>
        <div class="col-md-8 modal-right p-4">
          <h3 class="text-center">Czy zestaw jest złożony?</h3>
          <form>
            <div class="form-row justify-content-center pr-5">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="assembled"
                  id="assembledYes"
                  value="yes"
                />
                <label class="form-check-label" for="assembledYes">Tak</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="assembled"
                  id="assembledNo"
                  value="no"
                />
                <label class="form-check-label" for="assembledNo">Nie</label>
              </div>
            </div>
            <h3 class="text-center">Określ stan w jakim jest zestaw</h3>
            <div class="form-group">
              <select class="form-control" id="condition">
                <option value="excellent">Wzorowy</option>
                <option value="very-good">Bardzo dobry</option>
                <option value="good">Dobry</option>
                <option value="bad">Zły</option>
              </select>
            </div>
            <h3 class="text-center">Załączniki</h3>
            <div class="upload-box">
              <input type="file" class="form-control-file " id="attachments" multiple />
              <button class="btn custom-upload-button">Dodaj plik</button>
            </div>
            <h3 class="text-center">Dodatkowe informacje</h3>
            <div class="form-group">
              <textarea class="form-control" id="additionalInfo" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button
                type="button"
                class="btn btn-secondary flex-grow-1 mx-1"
                id="backButton1"
              >
                POWRÓT
              </button>
              <button
                type="button"
                class="btn btn-danger flex-grow-1 mx-1"
                id="nextButton1"
              >
                DALEJ
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal 3 -->
<div
  class="modal fade modal-3"
  id="thirdpage"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formularzeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="row no-gutters">
        <div class="col-12 col-md-4 modal-left p-4">
          <img src="{% static 'main/media/białe.png' %}" alt="RoboKlocki" class="img-fluid" />
          <ul class="steps list-unstyled pt-5">
            <li class="step d-flex align-items-center">
              <div class="step-number">1</div>
              <span class="ml-2">Dane do wysyłki</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">2</div>
              <span class="ml-2">Informacje o zestawie</span>
            </li>
            <div class="line my-2"></div>
            <li class="step active d-flex align-items-center">
              <div class="step-number">3</div>
              <span class="ml-2">Metoda płatności</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">4</div>
              <span class="ml-2">Podsumowanie</span>
            </li> 
          </ul>
        </div>
        <div class="col-12 col-md-8 modal-right p-4">
          <h3>Wybierz metodę płatności</h3>
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <select class="form-control" id="paymentMethod">
                  <option value="credit-card">Karta kredytowa</option>
                  <option value="paypal">PayPal</option>
                  <option value="bank-transfer">Przelew bankowy</option>
                </select>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button
                type="button"
                class="btn btn-secondary flex-grow-1 mx-1"
                id="backButton2"
              >
                POWRÓT
              </button>
              <button
                type="button"
                class="btn btn-danger flex-grow-1 mx-1"
                id="nextButton2"
              >
                DALEJ
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div
  class="modal fade modal-4"
  id="fourthpage"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formularzeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="row no-gutters">
        <div class="col-12 col-md-4 modal-left p-4">
          <img src="{% static 'main/media/białe.png' %}" alt="RoboKlocki" class="img-fluid" />
          <ul class="steps list-unstyled pt-5">
            <li class="step d-flex align-items-center">
              <div class="step-number">1</div>
              <span class="ml-2">Dane do wysyłki</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">2</div>
              <span class="ml-2">Informacje o zestawie</span>
            </li>
            <div class="line my-2"></div>
            <li class="step d-flex align-items-center">
              <div class="step-number">3</div>
              <span class="ml-2">Metoda płatności</span>
            </li>
            <div class="line my-2"></div>
            <li class="step active d-flex align-items-center">
              <div class="step-number">4</div>
              <span class="ml-2">Podsumowanie</span>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-8 modal-right p-4">
          <h3 class="text-center">Podsumowanie</h3>
          <form>
            <div class="form-group">
              <label for="shippingInfo">Dane do wysyłki:</label>
              <p id="shippingInfo">[Dane do wysyłki z Modalu 1]</p>
            </div>
            <div class="form-group">
              <label for="setInfo">Informacje o zestawie:</label>
              <p id="setInfo">[Informacje o zestawie z Modalu 2]</p>
            </div>
            <div class="form-group">
              <label for="paymentInfo">Metoda płatności:</label>
              <p id="paymentInfo">[Metoda płatności z Modalu 3]</p>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button
                type="button"
                class="btn btn-secondary flex-grow-1 mx-1"
                id="backButton3"
              >
                POWRÓT
              </button>
              <button
                type="button"
                class="btn btn-danger flex-grow-1 mx-1"
                id="confirmButton"
              >
                POTWIERDŹ
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
