body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
}

.navbar-toggler {
  border-color: black;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand,
.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link {
  font-weight: bold;
  font-size: large;
}

.hero-section {
  height: 100vh;
  position: relative;
  text-align: center;
  color: #E7E8E7;
  overflow: hidden;
}

.hero-image{
  width: 50%;
  height: auto;
}

.hero-section img {
  object-fit:contain;
  height: 100%;
  width: 100%;
}

.hero-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  color:white;
  width: 100%;
}

.heroh1 {
  position:absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  color:white;
  width: 100%;
}


@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2em;
  }

  .btn-cta {
    font-size: 1em;
    padding: 5px 10px;
  }
}

.btn-cta,
.option .btn-choose {
  background-color: #E5292F;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-cta {
  font-size: 1.5em;
  padding: 10px 20px;
}

.option .btn-choose {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.header-text {
  text-align: center;
  margin: 20px 0;
}

.header-text h2 {
  color: #0056b3;
}

.header-text p {
  font-style: italic;
  color: #dc3545;
}

.option-section {
  display: flex;
  width: 100%;
  height: 40vh;
}

.option {
  padding: 20px;
  color: white;
}



.center-content {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.modal-left {
  background-color: #2C3E50;
  color: white;
  padding: 20px;
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
}

.modal-left h2 {
  margin-bottom: 40px;
  text-align: center;
}

.modal-left .steps {
  list-style: none;
  padding: 0;
}

.modal-left .steps li {
  display: flex;
  align-items: center;
}

.modal-left .steps .step-number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 10px;
}

.modal-left .steps .active .step-number {
  background-color: red;
}

.modal-left .steps .line {
  width: 2px;
  background-color: gray;
  height: 20px;
  margin-left: 9px;
}

.modal-left .steps .active ~ .line {
  background-color: white;
}

.modal-right {
  padding: 20px;
}

.modal-right h3 {
  margin-bottom: 20px;
  margin-top: 5%;
  text-align: center;
  color:black;
}

.delivery-options img {
  width: 50px;
  margin: 0 10px;
}

.btn-block {
  margin-left: 5%;
}

.form-row {
  margin-bottom: 15px;
  margin-left: 10%;
}

.row {
  width: 100%;
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .container-fluid .col-md-5 img {
    width: 75%;
  }

  .container-fluid .col-md-5 h3 {
    font-size: 1.5rem;
  }

  .container-fluid .col-md-5 p {
    font-size: 1rem;
  }

  .container-fluid .col-md-5 .btn {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .container-fluid .col-md-5 img {
    width: 100%;
  }

  .container-fluid .col-md-5 h3 {
    font-size: 1.2rem;
  }

  .container-fluid .col-md-5 p {
    font-size: 0.9rem;
  }

  .container-fluid .col-md-5 .btn {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .center-content h3 {
    font-size: 1.5rem;
  }

  .center-content p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .center-content h3 {
    font-size: 1.2rem;
  }

  .center-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .modal-left {
    text-align: center;
  }

  .modal-right {
    text-align: center;
  }

  .delivery-options img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .modal-left h2 {
    font-size: 1.5rem;
  }

  .modal-right h3 {
    font-size: 1.2rem;
  }

  .delivery-options img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .container-fluid img {
    width: 75%;
  }

  .container-fluid iframe {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .container-fluid img {
    width: 100%;
  }

  .container-fluid iframe {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .connect-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .about-img {
    width: 100% !important;
  }
}

@media (max-width: 767.98px) {
  .option ol {
    font-size: 18px;
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .option ol {
    font-size: 20px;
    padding-top: 50px;
  }
}
.option-section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-height-option {
  height: 350px;
}